.gameContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--rtc-gap-m);
    padding-top: 20px;
}

.threeIn{
    width: 60%;
    max-width: 700px;
    height: 50vh;
    background-color: var(--rtc-primary-background-color);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 2px solid white;
    cursor: pointer;
}

.taken{
    color: var(--rtc-secondary-color);
    font-size: 50px;
    justify-self: center;
}
.threeInAside{
    display: flex;
    width: 20%;
    background-color: var(--rtc-primary-background-color);
    color: var(--rtc-secondary-background-color);
    border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;
    text-align: center;
}
.scoreGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 300px;
    margin-right: 70%;
    height: 150px;
    gap: 10px;
    background-color: var(--rtc-primary-background-color);
    border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;
}

.points{
    color: var(--rtc-secondary-background-color);
}

.gameAlert {
    position: fixed;
    background: black;
     border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.alertText {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.alertButton{
     background: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: "Anton", sans-serif
}

.hidden {
    display: none;
}

@media (max-width: 400px) {
    .gameContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;}
    .threeIn{
        width: 80%;
    }
    .threeInAside{
        width: 70%;
    }
}

@media (max-width: 300px){
    .points {
       font-size: 15px;
    }
}
.resetPoints{
    font-family: "Anton", sans-serif;
    border-radius: 8px;
    border-style: solid var(--rtc-primary-color);
    cursor: pointer;
    width: 150px;
    height: 30px;
    background-color:  #d27330b5;
    color: var(--rtc-secondary-background-color);
    box-shadow: 
    0 5px 5px #a57bef85;
}
.resetGame {
    width: 150px;
    height: 30px;
    font-family: "Anton", sans-serif;
    border-radius: 8px;
    border-style: solid var(--rtc-primary-color);
    cursor: pointer;
    background-color:  #d27330b5;
    color: var(--rtc-secondary-background-color);
    box-shadow: 
    0 5px 5px #a57bef85;
}