.threeIn{
    width: 90%;
    height: 50vh;
    background-color: rgba(248, 87, 13, 0.95);
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.cell {
    background-color: greenyellow;
    width: 100px;
    height: 100px;
}

.scoreGame {
    width: 250px;
    height: 150px;
    background-color: orange;
}

.resetPoints{
    width: 150px;
    height: 30px;
    background-color: rgb(242, 2, 150);
}

.resetGame {
    width: 150px;
    height: 30px;
    background-color: aqua;
}