.gameContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.whoIsBoard {
    width: 70%;
    max-width: 730px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--rtc-primary-background-color);
    gap: var(--rtc-gap-s);
    padding: var(--rtc-padding-s);
    border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;

}
.whoIsDiv {
    width: 100%;
    height: auto;
    gap: var(--rtc-gap-s);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 .whoIsButton {
    width: 35%;
    height: 80px;
    font-family: "Anton", sans-serif;
    border-radius: 20px;
    border: 4px solid;
    border-color: var(--rtc-secondary-color);
}

.answerDiv{
    color: var(--rtc-secondary-background-color);

}
.solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: var(--rtc-gap-s);
    height: 100px;
    max-width: 370px;
    color: var(--rtc-secondary-background-color)
}
.solutionText{
    width: 70%;
    border: 4px solid;
    border-color: var(--rtc-secondary-color);
    color: black;
}

.solutionButton {
    width: 40%;
    height: 30px;
    font-family: "Anton", sans-serif;
    border-radius: 20px;
    border: 4px solid;
    border-color: var(--rtc-primary-color);
}

.whoIsCharacters{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.charDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.charName {
    width: 20%;
    justify-self: center;
    color: var(--rtc-secondary-background-color);
}
.char{
   width: 90%;
   max-width: 70px;
}


.whoIsQuestions {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: var(--rtc-gap-s);
    color: var(--rtc-secondary-background-color);
    border: 4px solid;
    border-color: var(--rtc-secondary-color);
    margin-bottom: 5px;
}
.questionCategory{
    display: flex;
    flex-wrap: wrap;
    font-family: "Anton", sans-serif;
    gap: var(--rtc-gap-s);

}

.whoIsAside {
    width: 20%;
    height: auto;
    background-color: var(--rtc-primary-background-color);
    border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;
    padding: var(--rtc-padding-s);
    color: var(--rtc-secondary-background-color);

}


.whoIsScore{
    width: 50%;
    height: auto;
    background-color: var(--rtc-primary-background-color);
    border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;
    padding: var(--rtc-padding-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--rtc-gap-s);
    color: var(--rtc-secondary-background-color);

}

.player {
    width: 50px;
    height: 50px;
}

.resetButtonWho {
    width: 150px;
    height: 40px;
    border: 2px solid var(--rtc-primary-color);
    background-color: white;
    color: var(--rtc-secondary-color);
    font-family: "Anton", sans-serif;
}


@media (max-width: 600px) {
    .gameContainer{
        display: flex;
        flex-direction: column;
    }
    .whoIsAside {
        width: 50%;
    }
}