.gameContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.whoIsBoard {
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--rtc-primary-background-color);
    gap: var(--rtc-gap-s);
    border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;

}
.whoIsDiv {
    width: 100%;
    height: auto;
    background-color: aqua;
    gap: var(--rtc-gap-s);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 .whoIsButton {
        width: 80px;
        height: 80px;
        font-family: "Anton", sans-serif;
        border-radius: 20px;
        border-color: var(--rtc-secondary-color)
    }

.whoIsAside {
    width: 20%;
    height: 200px;
    background-color: pink;
}




.solution {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.whoIsQuestions {
    width: 80%;
    height: 100px;
    background-color: blueviolet;
}

.whoIsScore{
    width: 50%;
    height: 200px;
    background-color: green;
}

.char{
    width: 20px;
    height: 20px;
}

.player {
    width: 50px;
    height: 50px;
}

.resetButtonWho {
    width: 100px;
    height: 100px;
    background-color: white;
}