.sectionGames{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--rtc-gap-l);
    padding-top: var(--rtc-padding-l);
}

.sectionGames div {
    width: 40%;
    height: auto;
    gap: var(--rtc-gap-s);
    padding: 5px;
}

@keyframes shake {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(1deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-1deg);}
    100% {transform: rotate(0deg);}
}

.divGames{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 3px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1 ;
    width: 100%;
    background-color: var(--rtc-secondary-background-color);
}
.divGames.shake{
    animation: shake 0.6s infinite;
}

.divGames:hover{
    animation: none;
}

.divGames a{
    color: var(--rtc-secondary-background-color);
    background-color: var(--rtc-primary-background-color) ;
    text-decoration: none;
    border:  3px #b54b00 solid;
    border-radius: 20px;
    width: 35%;
    display: flex;
    justify-content: center;
}

.divGames img {
    width: 100px;
    height: 100px;
}

.titleGame {
    color: var(--rtc-primary-color);
}
.score{
    color: var(--rtc-primary-background-color);
}


