
header{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #000000, #b54b00, #000000, #5b27b6, #000000);
    background-size: 400% 400%;
    animation: purpleFlash 3s ease-in-out infinite;
    cursor: pointer;
}

@keyframes purpleFlash {
    0%{
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
  }

.title {
  justify-self: center;
    color: #f6f5f8;
    background-color: #000000;
    text-align: center;
    border: 5px solid;
    border-image: linear-gradient(45deg, #b54b00, #5b27b6) 1;
    width: 300px;
    height: 100px;
    align-content: center;
}

@media (max-width: 300px){
  .title{
    width: 90%;
  }
}
