:root {
  font-family: "Anton", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--rtc-primary-background-color);
  --rtc-primary-background-color: #000000;
  --rtc-secondary-background-color: rgb(255, 255, 255);
  --rtc-primary-color:  rgb(200, 252, 248);
  --rtc-secondary-color:  rgb(0, 255, 229);
  --rtc-tertiary-color: rgb(0, 65, 58);

  --rtc-margin-s: 10px;
  --rtc-margin-m: 15px;
  --rtc-margin-l: 20px;

  --rtc-padding-s: 10px;
  --rtc-padding-m: 10px;
  --rtc-padding-l: 10px;

  --rtc-gap-s: 10px;
  --rtc-gap-m: 15px;
  --rtc-gap-l: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
 font-style: none;
}

/*Entre mdn y chatgpt he introducido keyframes para meter animación en mis títulos y cartas*/
.gameContainer {
  display: none;
  position: relative;
}